---
title: Prototyp för XYZ
---

<div class="row">
  <div class="large-12 columns">
    <h1>Prototyp för XYZ</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="panel">
      <h2>Lorem</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero vitae ipsum pharetra consectetur. Duis ut dapibus velit. Fusce eu lectus tortor, non tincidunt ipsum. Cras luctus, diam ut egestas accumsan, ipsum eros pretium nibh, eu lacinia nisl dolor id libero. In ultrices, ante vitae pellentesque fringilla, tellus nulla tincidunt nisl, vitae posuere risus sapien ut urna. 
      </p>
      <div class="row">
        <div class="large-4 medium-4 columns">
          <p>
            <a href="#">Lorem ipsum</a><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero vitae ipsum pharetra consectetur. Duis ut dapibus velit.
          </p>
        </div>
        <div class="large-4 medium-4 columns">
          <p>
            <a href="#">Lorem ipsum</a><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero vitae ipsum pharetra consectetur. Duis ut dapibus velit.
          </p>
        </div>
        <div class="large-4 medium-4 columns">
          <p>
            <a href="#">Lorem ipsum</a><br />
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi et libero vitae ipsum pharetra consectetur. Duis ut dapibus velit.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <p>
      <a href="kitchen-sink.html">Kitchen sink</a>, prov på komponenter i Foundation
    </p>
  </div>
</div>

